<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  <!-- Preloader -->
  <div id="preloader">
    <div id="load"></div>
  </div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="http://res.cloudinary.com/dxsgwgbyd/image/upload/v1424949455/bloggif_54ef00c604d8a_wvlcbo.png" alt="" class="logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              	<ul class="nav navbar-nav">
                	<li class="active"><a href="#intro">Home</a></li>
                	<li><a href="#about">Équipe</a></li>
                	<li><a href="#service">Quizz</a></li>
                	<li><a href="#contact">Contact</a></li>
                </ul>
                  </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <!-- Section: intro -->
    <section id="intro" class="intro">
  
    <div class="slogan">
      <h2>Bienvenue dans le <span class="text_color">Grand Paris</span> </h2>
      <h4>VENEZ TESTER VOS CONAISSANCES DU GRAND PARIS AVEC NOTRE QUIZZ</h4>
    </div>
    <div class="page-scroll">
      <a href="#service" class="btn btn-circle">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
    </section>
  <!-- /Section: intro -->

  <!-- Section: about -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>L'Équipe</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">

    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Francis Holla</h5>
                        <p class="subtitle">Le Romantique</p>
                        <div class="avatar"><img src="http://res.cloudinary.com/dxsgwgbyd/image/upload/v1424520157/caricature-francois-hollande1_ky6dgd.jpg" alt="" class="img-responsive img-circle" /></div>
                    </div>
                </div>
        </div>
            </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Pr. Barban</h5>
                        <p class="subtitle">Il se dit proffesseur!</p>
                        <div class="avatar"><img src="http://res.cloudinary.com/dxsgwgbyd/image/upload/v1424518440/4_tafkyl.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
        </div>
            </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Mouloud Obami</h5>
                        <p class="subtitle">Le Comique</p>
                        <div class="avatar"><img src="http://res.cloudinary.com/dxsgwgbyd/image/upload/v1424518436/3_mvhtqc.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
        </div>
            </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="wow bounceInUp" data-wow-delay="1s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Mamadou Banguali</h5>
                        <p class="subtitle">Le Souriant</p>
                        <div class="avatar"><img src="http://res.cloudinary.com/dxsgwgbyd/image/upload/v1424518424/1_fq53h5.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
        </div>
            </div>
        </div>    
    </div>
  </section>
  <!-- /Section: about -->
  

  <!-- Section: Quizz -->
    <section id="service" class="home-section text-center bg-gray">
    
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
              <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <div class="global">
                  <div id = "frame"
                        role = "content" >
                      <div class="bar">
                        <table class="tableau-avancement"  cellpadding="10" cellspacing="0">
                            <tbody>
                              <tr>
                                  <td id="avancement" width="%" style="background-color:#00BFFF;"></td>
                                  <td width="100%" style="background-color:#F5DEB3;"></td>
                              </tr>
                            </tbody>
                        </table>
                      </div>
                  </div> 
                </div>
            </div>
    </div>
            </div>
        </div>    
    </div>
  </section>
  <!-- /Section: Quizz -->
  

  

  <!-- Section: contact -->
    <section id="contact" class="home-section text-center">
    <div class="heading-contact">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Contactez-Nous</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">

    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="boxed-grey">
                <form id="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Nom:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter nom" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Addresse Email:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Entrer email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Sujet:</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choisir:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                            Envoyer</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    
    <div class="col-lg-4">
      <div class="widget-contact">
        <h5>Main Office</h5>
        
        <address>
          <strong>Pôles Design, Inc.</strong><br>
          11, Allée Saint-Éxupery<br>
          Villeneuve La Garenne, 92390<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
          <strong>Email</strong><br>
          <a href="mailto:#">abdoulaye_diarra@outlook.fr</a>
        </address>  
        <address>
          <strong>Nos partenaires sociaux:</strong><br>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul> 
        </address>          
      
      </div>  
    </div>
    </div>  

    </div>
  </section>
  <!-- /Section: contact -->